/*==================================
logo area css
=====================================*/

#logo-area{
    width: 100%;
    clear: both;
    margin-top: 30px;
}
.inner-logo{
    display: flex;
    background: linear-gradient(#116cdb, #031f41, #0a4996);
    height: 360px;
}
.logo{ 
    margin: 55px 0 55px 35px;
}
.logo img{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 65px 0px #fff;
}
.name{
    margin: 140px 0 0 30px;
}
.name h2{
    font-size: 40px;
    color: #fff;
}

/*==================================
Work area css
=====================================*/

#hero-area{
width: 100%;
clear: both;
margin-top: -19px;
}
.inner-hero{
    background-color: #fff;
}
.bio{
    width: 100%;
    padding: 15px 0;
}
.inner-hero h3{
margin-left: 25px;
}
.inner-hero h2{
    margin-left: 25px;
    }
.inner-hero p{
        margin-left: 25px;
        }
.intro{
    width: 100%;
    padding: 15px 0; 
}
.education{
    list-style: none;
    padding-left: 0;
    margin-left: 17px;
}
.education li{
    margin-top: 10px;
}
.city .fa-solid{
    margin-right: 15px;
}
.city .fa-solid{
    margin: 0 15px 0 0;
}
