
/*==================================
logo area css
=====================================*/
#logo-area{
    width: 100%;
    clear: both;
    margin-top: 30px;
}

.inner-logo{
    background: linear-gradient(90deg,#031f41,#22436b, #66707c );
    padding: 40px 0px;
}

.name{
    width: 100%;
}

.name h2{
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.border{
    width: 70px;
    border-top: 2px solid #fff;
    margin-left: 355px;
    margin-top: 45px;
}
/*==================================
work area css
=====================================*/
#hero-area{
    width: 100%;
    clear: both;
}

.inner-hero{
    background: #fff;
    margin-top: -20px;
    padding: 20px 0;
}

.contact-area h2{
    text-align: center;
    background: linear-gradient(10deg,#fff,#000);
    font-size: 35px;
    padding: 20px 0;
    color: #fff;
    width: 290px;
    margin-left: 250px;
    box-shadow: 15px 12px 5px 5px #ddd;
    border-radius: 7px;
}

.contact-area{
    width: 100%;
    clear: both;
}

.inner-hero ul{
    list-style: none;
    padding: 20px 30px;
}


.inner-hero li{
margin-top: 10px;
}

.contact-area a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.contact-area a:hover{
    color: #ea6a45;
    transition: 0.5s;
}
.contact-area .fa-solid{
    margin-right: 15px;
}

.education-area{
    text-align: right;
}

.education-area h2{
    text-align: center;
    background: linear-gradient(10deg,#fff,#000);
    font-size: 35px;
    padding: 20px 0;
    color: #fff;
    width: 290px;
    margin-left: 250px;
    box-shadow: 15px 12px 5px 5px #ddd;
    border-radius: 7px;
}
.education-area li{
    color: #000;
    font-size: 20px;
}
.experience-area{
    width: 100%;
    clear: both;
    
}
.experience-area p{
    margin-left: 38px;
    margin-bottom: -13px;
    font-size: 20px;
}

.experience-area h2{
    text-align: center;
    background: linear-gradient(10deg,#fff,#000);
    font-size: 35px;
    padding: 20px 0;
    color: #fff;
    width: 290px;
    margin-left: 250px;
    box-shadow: 15px 12px 5px 5px #ddd;
    border-radius: 7px;
}
