/*==================================
commonm css
=====================================*/

body {
  color: #000;
  font-size: 16px;
  line-height: 1.5em;
  background-image: linear-gradient(-30deg, #84a8d4, #926d98);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  margin: 0 auto;
  width: 780px;
}

/*==================================
header css
=====================================*/

#header-area {
  width: 100%;
  clear: both;
  margin-top: 70px;
}
.inner-header {
  background:linear-gradient(90deg, #39275a,#19054e, #15192e);
  padding: 20px 0;
}
.main-menu {
  width: 100%;
}

.main-menu ul {
  list-style: none;
  text-align: center;
  margin-right: 20px;
  padding: 0;
}
.main-menu li {
  display: inline-block;
  margin-right: -17px;
}

.main-menu a {
  text-decoration: none;
  color: #626262;
  font-size: 16px;
  padding: 40px 21px;
}
.main-menu a:hover {
  background: #ea6a45;
  transition: 0.5s;
  color: #fff;
}

.fa-solid {
  margin-left: 10px;
}

/*==================================
image css
=====================================*/

.image-area {
  width: 100%;
  clear: both;
}

.image {
  width: 100%;
  margin-top: 30px;
}


/*==================================
work area css
=====================================*/

#work-area {
  width: 100%;
  clear: both;
  margin-top: -7px;
}
.inner-work {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 40px 0;
}
.logo-area {
  width: 30%;
  text-align: center;
}
.text-area {
  width: 70%;
  text-align: left;
  margin-left: 45px;
}
.text-area h2 {
  color: #626262;
  font-size: 27px;
  margin: 10px 0;
}
.text-area p {
  color: #808181;
  font-size: 14px;
  margin: 0;
  width: 447px;
}

/*==================================
contact area css
=====================================*/
.content{
  margin-top: 40px;
}
#contents{
  background: linear-gradient(90deg,#116cdb,#2e0c0c);

}

#contact-area {
  width: 100%;
  clear: both;
}
.inner-contact {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 40px 0;
}
.inner-contact ul {
  list-style: none;
  padding-left: 20px;
}
.inner-contact li {
  margin-bottom: 10px;
  font-size: 19px;
  color: #b3b3b3;
}
strong {
  color: #7d7d7d;
}
.name-area {
  width: 100%;
  border-left: 4px solid #ea6a45;
  margin-left: 24px;
}

.phone-area {
  width: 100%;
  border-left: 4px solid #ea6a45;
  margin-left: 80px;
}
.phone-area a {
  text-decoration: none;
  color: #b3b3b3;
}
.phone-area a:hover {
  color: #000;
  transition: 300ms;
}

/* education css */

#hero-area {
  width: 100%;
  clear: both;
}
.inner-hero {
  background: linear-gradient(
    rgb(120, 120, 174),
    rgb(59, 59, 238),
    rgb(88, 155, 243)
  );
  padding: 70px 0px;
}
table {
  margin-left: 35px;
  text-align: start;
  border: 2px solid #fff;
}

th {
  border: 2px solid rgb(231, 128, 128);
  color: aqua;
}
td {
  border: 2px solid #fff;
  color: #fff;
}


/* profile css */

/*==================================
photo area css
=====================================*/

#photo-area{
  width: 100%;
  clear: both;
  margin-top: 30px;
}
.inner-photo{
  display: flex;
  background: linear-gradient(#116cdb, #031f41, #0a4996);
  height: 360px;
}
.photo{ 
  margin: 55px 0 55px 35px;
}
.photo img{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 65px 0px #fff;
}
.name{
  margin: 140px 0 0 30px;
}
.name h2{
  font-size: 40px;
  color: #fff;
}

/*==================================
main area css
=====================================*/

#main-area{
width: 100%;
clear: both;
margin-top: -19px;
}
.inner-main{
  background-color: #fff;
}
.bio{
  width: 100%;
  padding: 15px 0;
}
.inner-main h3{
margin-left: 25px;
}
.inner-main h2{
  margin-left: 25px;
  }
.inner-main p{
      margin-left: 25px;
      }
.intro{
  width: 100%;
  padding: 15px 0; 
}
.education{
  list-style: none;
  padding-left: 0;
  margin-left: 17px;
}
.education li{
  margin-top: 10px;
}
.city .fa-solid{
  margin-right: 15px;
}
.city .fa-solid{
  margin: 0 15px 0 0;
}

/* resume css */


/*==================================
picture area css
=====================================*/
#picture-area{
  width: 100%;
  clear: both;
  margin-top: 30px;
}

.inner-picture{
  background: linear-gradient(90deg,#031f41,#22436b, #66707c );
  padding: 40px 0px;
}

.picture-name{
  width: 100%;
}

.picture-name h2{
  font-size: 40px;
  color: #fff;
  text-align: center;
}
.border-bottom{
  width: 70px;
  border-top: 2px solid #fff;
  margin-left: 355px;
  margin-top: 45px;
}
/*==================================
info area css
=====================================*/
#info-area{
  width: 100%;
  clear: both;
}

.inner-info{
  background: #fff;
  margin-top: -20px;
  padding: 20px 0;
}

.inner-info ul{
  list-style: none;
  padding: 20px 30px;
}

.inner-info li{
margin-top: 10px;
}

.connect-area h2{
  text-align: center;
  background: linear-gradient(10deg,#fff,#000);
  font-size: 35px;
  padding: 20px 0;
  color: #fff;
  width: 290px;
  margin-left: 250px;
  box-shadow: 15px 12px 5px 5px #ddd;
  border-radius: 7px;
}


.connect-area{
  width: 100%;
  clear: both;
}

.connect-area a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.connect-area a:hover{
  color: #ea6a45;
  transition: 0.5s;
}
.connect-area .fa-solid{
  margin-right: 15px;
}

.education-area{
  text-align: right;
}

.education-area h2{
  text-align: center;
  background: linear-gradient(10deg,#fff,#000);
  font-size: 35px;
  padding: 20px 0;
  color: #fff;
  width: 290px;
  margin-left: 250px;
  box-shadow: 15px 12px 5px 5px #ddd;
  border-radius: 7px;
}
.education-area li{
  color: #000;
  font-size: 20px;
}
.experience-area{
  width: 100%;
  clear: both;
  
}
.experience-area p{
  margin-left: 38px;
  margin-bottom: -13px;
  font-size: 20px;
}

.experience-area h2{
  text-align: center;
  background: linear-gradient(10deg,#fff,#000);
  font-size: 35px;
  padding: 20px 0;
  color: #fff;
  width: 290px;
  margin-left: 250px;
  box-shadow: 15px 12px 5px 5px #ddd;
  border-radius: 7px;
}

/* work css */



#profession-area{
  width: 100%;
  clear: both;
  margin-top: 35px;
}
.inner-profession{
  background: rgb(200, 200, 241);
  display: flex;
  justify-content: space-between;
  padding: 5px 0 45px 0;
}
.profile{
  background: #ddd;
width: 355px;
margin-left: 15px;
box-shadow: -5px 0px 8px 3px #000;
margin-top: 15px;
}
.profile-name{
  background: rgb(180, 178, 178);
  width: 250px;
  margin: 150px 0 150px 30px;
  padding: 10px;
  box-shadow: -10px -6px 11px 4px #000;
  border-radius: 10px;
}
.profile-name h2{
  color: #000;
  font-size: 27px;
  margin: 10px 0;
}

.profile-name ul{
  list-style: none;
  padding: 0;
}
.profile-name li{
  padding: 3px 0;
}
.profile-name a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.profile-name a:hover{
  color: #ea6a45;
  transition: 0.5s;
}

.profile-name .fa-solid{
  margin-right: 15px;
}
.work{
  margin-top: 50px;
width: 400px;
text-align: center;
}
.work p strong{
  color: #421010;
  font-size: 25px;
}
.work p i{
  color: #684949;
  font-size: 20px;
}
.work p{
  margin: 0;
  color: #2e0c0c;
  font-size: 15px;
}


/*==================================
footer area css
=====================================*/

.inner-footer {
  background: #ebebeb;
  padding: 1px 0;
}
.inner-footer p {
  color: #b3b3b3;
  text-align: center;
}
.inner-footer img {
  display: block;
  margin-top: 20px;
}

.fa-brands {
  margin-right: 7px;
  font-size: 25px;
  color: #b3b3b3;
}
.fa-twitter:hover {
  color: #00acee;
  transition: 0.5s;
}
