

#hero-area{
    width: 100%;
    clear: both;
    margin-top: 35px;
}
.inner-hero{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 45px 0;
}
.profile{
    background: #ddd;
width: 355px;
margin-left: 15px;
box-shadow: -5px 0px 8px 3px #000;
margin-top: 15px;
}
.name{
    background: rgb(180, 178, 178);
    width: 250px;
    margin: 150px 0 150px 30px;
    padding: 10px;
    box-shadow: -10px -6px 11px 4px #000;
    border-radius: 10px;
}
.name h2{
    color: #000;
    font-size: 27px;
    margin: 10px 0;
}

.name ul{
    list-style: none;
    padding: 0;
}
.name li{
    padding: 3px 0;
}
.name a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.name a:hover{
    color: #ea6a45;
    transition: 0.5s;
}

.name .fa-solid{
    margin-right: 15px;
}
.work{
    margin-top: 50px;
width: 400px;
text-align: center;
}
p strong{
    color: #421010;
    font-size: 25px;
}
p i{
    color: #684949;
    font-size: 20px;
}
p{
    margin: 0;
    color: #2e0c0c;
    font-size: 15px;
}